<div id="about" class="container pt-5">
  <div class="row">
    <h6 class="text-uppercase">About Us</h6>

    <h2 class="mb-5 mt-4 text-uppercase">Who Am I?</h2>

    <p class="my-4">
      <span>Hi I'm Jackson Ford</span> On her way she met a copy. The copy
      warned the Little Blind Text, that where it came from it would have been
      rewritten a thousand times and everything that was left from its origin
      would be the word "and" and the Little Blind Text should turn around and
      return to its own, safe country.
    </p>

    <p class="mb-5">
      Even the all-powerful Pointing has no control about the blind texts it is
      an almost unorthographic life One day however a small line of blind text
      by the name of Lorem Ipsum decided to leave for the far World of Grammar.
    </p>

    <div class="col-lg-3">
      <div class="about-card fst h-100">
        <i class="fa-regular fa-lightbulb"></i>
        <P>Graphic Design</P>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="about-card snd h-100">
        <i class="fa-solid fa-microchip"></i>
        <P>Web Design</P>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="about-card trd h-100">
        <i class="fa-solid fa-database"></i>
        <P>Software</P>
      </div>
    </div>
    <div class="col-lg-3 last">
      <div class="about-card fth h-100">
        <i class="fa-solid fa-mobile-screen"></i>
        <P>Application</P>
      </div>
    </div>

    <div class="hire mt-5">
      <h2>
        I am happy to know you<br />
        that 300+ projects done sucessfully!
      </h2>
      <button class="btn btn-outline-dark">HIRE ME</button>
    </div>
  </div>
</div>
