<div id="experience" class="container py-5">
  <div class="row">
    <h6 class="text-uppercase">Experience</h6>

    <h2 class="mb-5 mt-4 text-uppercase">Work Experience</h2>

    <div class="row px-0 cards">
      <div class="col-1 p-0">
        <div class="circle d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-pen" style="color: #ffffff"></i>
        </div>
      </div>
      <div class="col-11 pe-0 mb-5">
        <div class="position-relative ms-3 experience-card">
          <i class="fa-solid fa-play fa-flip-horizontal"></i>
          <P class="text-dark fw-bold mb-4"
            >Full Stack Developer
            <span class="fw-light text-muted">2017-2018</span>
          </P>
          <P
            >Tolerably earnestly middleton extremely distrusts she boy now not.
            Add and offered prepare how cordial two promise. Greatly who affixed
            suppose but enquire compact prepare all put. Added forth chief trees
            but rooms think may.</P
          >
        </div>
      </div>
      <div class="col-1 p-0">
        <div
          class="circle red-bg-color d-flex justify-content-center align-items-center"
        >
          <i class="fa-solid fa-pen" style="color: #ffffff"></i>
        </div>
      </div>
      <div class="col-11 pe-0 mb-5">
        <div class="position-relative ms-3 experience-card">
          <i class="fa-solid fa-play fa-flip-horizontal"></i>
          <P class="text-dark fw-bold mb-4"
            >Front End Developer at Google Company
            <span class="fw-light text-muted">2017-2018</span>
          </P>
          <P
            >Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line of
            blind text by the name of Lorem Ipsum decided to leave for the far
            World of Grammar.</P
          >
        </div>
      </div>
      <div class="col-1 p-0">
        <div
          class="circle yellow-bg-color d-flex justify-content-center align-items-center"
        >
          <i class="fa-solid fa-pen" style="color: #ffffff"></i>
        </div>
      </div>
      <div class="col-11 pe-0 mb-5">
        <div class="position-relative ms-3 experience-card">
          <i class="fa-solid fa-play fa-flip-horizontal"></i>

          <P class="text-dark fw-bold mb-4"
            >System Analyst
            <span class="fw-light text-muted">2017-2018</span>
          </P>
          <P
            >Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line of
            blind text by the name of Lorem Ipsum decided to leave for the far
            World of Grammar.</P
          >
        </div>
      </div>
      <div class="col-1 p-0">
        <div
          class="circle purple-bg-color d-flex justify-content-center align-items-center"
        >
          <i class="fa-solid fa-pen" style="color: #ffffff"></i>
        </div>
      </div>
      <div class="col-11 pe-0 mb-5">
        <div class="position-relative ms-3 experience-card">
          <i class="fa-solid fa-play fa-flip-horizontal"></i>

          <P class="text-dark fw-bold mb-4"
            >Creative Designer
            <span class="fw-light text-muted">2017-2018</span>
          </P>
          <P
            >Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line of
            blind text by the name of Lorem Ipsum decided to leave for the far
            World of Grammar.</P
          >
        </div>
      </div>
      <div class="col-1 p-0">
        <div
          class="circle green-bg-color d-flex justify-content-center align-items-center"
        >
          <i class="fa-solid fa-pen" style="color: #ffffff"></i>
        </div>
      </div>
      <div class="col-11 pe-0">
        <div class="position-relative ms-3 experience-card">
          <i class="fa-solid fa-play fa-flip-horizontal"></i>
          <P class="text-dark fw-bold mb-4"
            >UI/UX Designer at Envato
            <span class="fw-light text-muted">2017-2018</span>
          </P>
          <P
            >Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line of
            blind text by the name of Lorem Ipsum decided to leave for the far
            World of Grammar.</P
          >
        </div>
      </div>
      <div class="col-1 p-0">
        <div class="circle last"></div>
      </div>
    </div>
  </div>
</div>
