<div id="work" class="container py-5">
  <div class="row">
    <h6 class="text-uppercase">My Work</h6>

    <h2 class="mb-5 mt-4 text-uppercase">Recent Work</h2>

    <div class="d-flex">
      <p class="me-3 text-primary">Graphic Design</p>
      <p class="me-3">Web Design</p>
      <p class="me-3">Software</p>
      <p>Apps</p>
    </div>

    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="position-relative work-card">
          <img src="assets/images/img-1.jpg" alt="" class="w-100" />
          <div
            class="d-flex justify-content-between flex-column position-absolute w-100 h-100 top-0 p-4 opacity-0 overlay"
          >
            <div>
              <P class="text-light mb-2 first-para">work 01</P>
              <P class="sec-para">website</P>
            </div>
            <div>
              <span class="btn"><i class="fa-solid fa-share-nodes"></i></span>
              <span class="btn mx-2"><i class="fa-solid fa-eye"></i> 100</span>
              <span class="btn"><i class="fa-solid fa-heart"></i> 49</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative work-card">
          <img src="assets/images/img-2.png" alt="" class="w-100" />
          <div
            class="d-flex justify-content-between flex-column position-absolute w-100 h-100 top-0 p-4 opacity-0 overlay"
          >
            <div>
              <P class="text-light mb-2 first-para">work 01</P>
              <P class="sec-para">website</P>
            </div>
            <div>
              <span class="btn"><i class="fa-solid fa-share-nodes"></i></span>
              <span class="btn mx-2"><i class="fa-solid fa-eye"></i> 100</span>
              <span class="btn"><i class="fa-solid fa-heart"></i> 49</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative work-card">
          <img src="assets/images/img-3.png" alt="" class="w-100" />
          <div
            class="d-flex justify-content-between flex-column position-absolute w-100 h-100 top-0 p-4 opacity-0 overlay"
          >
            <div>
              <P class="text-light mb-2 first-para">work 01</P>
              <P class="sec-para">website</P>
            </div>
            <div>
              <span class="btn"><i class="fa-solid fa-share-nodes"></i></span>
              <span class="btn mx-2"><i class="fa-solid fa-eye"></i> 100</span>
              <span class="btn"><i class="fa-solid fa-heart"></i> 49</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative work-card">
          <img src="assets/images/img-4.jpg" alt="" class="w-100" />
          <div
            class="d-flex justify-content-between flex-column position-absolute w-100 h-100 top-0 p-4 opacity-0 overlay"
          >
            <div>
              <P class="text-light mb-2 first-para">work 01</P>
              <P class="sec-para">website</P>
            </div>
            <div>
              <span class="btn"><i class="fa-solid fa-share-nodes"></i></span>
              <span class="btn mx-2"><i class="fa-solid fa-eye"></i> 100</span>
              <span class="btn"><i class="fa-solid fa-heart"></i> 49</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative work-card">
          <img src="assets/images/img-5.png" alt="" class="w-100" />
          <div
            class="d-flex justify-content-between flex-column position-absolute w-100 h-100 top-0 p-4 opacity-0 overlay"
          >
            <div>
              <P class="text-light mb-2 first-para">work 01</P>
              <P class="sec-para">website</P>
            </div>
            <div>
              <span class="btn"><i class="fa-solid fa-share-nodes"></i></span>
              <span class="btn mx-2"><i class="fa-solid fa-eye"></i> 100</span>
              <span class="btn"><i class="fa-solid fa-heart"></i> 49</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative work-card">
          <img src="assets/images/img-6.jpg" alt="" class="w-100" />
          <div
            class="d-flex justify-content-between flex-column position-absolute w-100 h-100 top-0 p-4 opacity-0 overlay"
          >
            <div>
              <P class="text-light mb-2 first-para">work 01</P>
              <P class="sec-para">website</P>
            </div>
            <div>
              <span class="btn"><i class="fa-solid fa-share-nodes"></i></span>
              <span class="btn mx-2"><i class="fa-solid fa-eye"></i> 100</span>
              <span class="btn"><i class="fa-solid fa-heart"></i> 49</span>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary text-uppercase">
        load more <i class="fa-solid fa-rotate-right"></i>
      </button>
    </div>
  </div>
</div>
