<div id="skills" class="container py-5">
  <div class="row">
    <h6 class="text-uppercase">My Specialty</h6>

    <h2 class="mb-5 mt-4 text-uppercase">My Skills</h2>

    <p>
      The Big Oxmox advised her not to do so, because there were thousands of
      bad Commas, wild Question Marks and devious Semikoli, but the Little Blind
      Text didn’t listen. She packed her seven versalia, put her initial into
      the belt and made herself on the way.
    </p>

    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="position-relative skills-card">
          <div
            class="text-of-bar blue-colors d-flex justify-content-between align-items-center mb-2"
          >
            <P class="text-dark">Photoshop</P>
            <P class="fw-bold percentage blue-color">75%</P>
          </div>
          <div class="bar blue-bg-color"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative skills-card">
          <div
            class="text-of-bar red-colors d-flex justify-content-between align-items-center mb-2"
          >
            <P class="text-dark">jQuery</P>
            <P class="fw-bold percentage red-color">60%</P>
          </div>
          <div class="bar red-bg-color"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative skills-card">
          <div
            class="text-of-bar yellow-colors d-flex justify-content-between align-items-center mb-2"
          >
            <P class="text-dark">HTML5</P>
            <P class="fw-bold percentage yellow-color">85%</P>
          </div>
          <div class="bar yellow-bg-color"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative skills-card">
          <div
            class="text-of-bar purple-colors d-flex justify-content-between align-items-center mb-2"
          >
            <P class="text-dark">CSS3</P>
            <P class="fw-bold percentage purple-color">90%</P>
          </div>
          <div class="bar purple-bg-color"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative skills-card">
          <div
            class="text-of-bar green-colors d-flex justify-content-between align-items-center mb-2"
          >
            <P class="text-dark">WordPress</P>
            <P class="fw-bold percentage green-color">70%</P>
          </div>
          <div class="bar green-bg-color"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative skills-card">
          <div
            class="text-of-bar blue2-colors d-flex justify-content-between align-items-center mb-2"
          >
            <P class="text-dark">SEO</P>
            <P class="fw-bold percentage blue2-color">80%</P>
          </div>
          <div class="bar blue2-bg-color"></div>
        </div>
      </div>
    </div>
  </div>
</div>
