<div id="services" class="container py-5">
  <div class="row">
    <h6 class="text-uppercase">What I do?</h6>

    <h2 class="mb-5 mt-4 text-uppercase">Here are some of my expertise</h2>

    <div class="row text-center">
      <div class="col-lg-4 my-5">
        <div class="position-relative services-card fst">
          <div
            class="card-icon position-absolute top-0 start-50 translate-middle w-100"
          >
            <img src="assets/images/polygon1.svg" alt="" class="poly-svg" />
            <i
              class="fa-regular fa-lightbulb position-absolute start-50 top-50 translate-middle text-light"
            ></i>
          </div>
          <P class="mt-5 text-dark fw-bold text-uppercase">Innovative Ideas</P>
          <P
            >Separated they live in Bookmarksgrove right at the coast of the
            Semantics</P
          >
        </div>
      </div>
      <div class="col-lg-4 my-5">
        <div class="position-relative services-card fst">
          <div
            class="card-icon position-absolute top-0 start-50 translate-middle w-100"
          >
            <img src="assets/images/polygon2.svg" alt="" class="poly-svg" />
            <i
              class="fa-solid fa-database position-absolute start-50 top-50 translate-middle text-light"
            ></i>
          </div>
          <P class="mt-5 text-dark fw-bold text-uppercase">Software</P>
          <P
            >Separated they live in Bookmarksgrove right at the coast of the
            Semantics</P
          >
        </div>
      </div>
      <div class="col-lg-4 my-5">
        <div class="position-relative services-card fst">
          <div
            class="card-icon position-absolute top-0 start-50 translate-middle w-100"
          >
            <img src="assets/images/polygon3.svg" alt="" class="poly-svg" />
            <i
              class="fa-solid fa-mobile-screen position-absolute start-50 top-50 translate-middle text-light"
            ></i>
          </div>
          <P class="mt-5 text-dark fw-bold text-uppercase">Application</P>
          <P
            >Separated they live in Bookmarksgrove right at the coast of the
            Semantics</P
          >
        </div>
      </div>
      <div class="col-lg-4 my-5">
        <div class="position-relative services-card fst">
          <div
            class="card-icon position-absolute top-0 start-50 translate-middle w-100"
          >
            <img src="assets/images/polygon4.svg" alt="" class="poly-svg" />
            <i
              class="fa-solid fa-layer-group position-absolute start-50 top-50 translate-middle text-light"
            ></i>
          </div>
          <P class="mt-5 text-dark fw-bold text-uppercase">Graphic Design</P>
          <P
            >Separated they live in Bookmarksgrove right at the coast of the
            Semantics</P
          >
        </div>
      </div>
      <div class="col-lg-4 my-5">
        <div class="position-relative services-card fst">
          <div
            class="card-icon position-absolute top-0 start-50 translate-middle w-100"
          >
            <img src="assets/images/polygon5.svg" alt="" class="poly-svg" />
            <i
              class="fa-solid fa-database position-absolute start-50 top-50 translate-middle text-light"
            ></i>
          </div>
          <P class="mt-5 text-dark fw-bold text-uppercase">Software</P>
          <P
            >Separated they live in Bookmarksgrove right at the coast of the
            Semantics</P
          >
        </div>
      </div>
      <div class="col-lg-4 my-5">
        <div class="position-relative services-card fst">
          <div
            class="card-icon position-absolute top-0 start-50 translate-middle w-100"
          >
            <img src="assets/images/polygon6.svg" alt="" class="poly-svg" />
            <i
              class="fa-solid fa-mobile-screen position-absolute start-50 top-50 translate-middle text-light"
            ></i>
          </div>
          <P class="mt-5 text-dark fw-bold text-uppercase">Application</P>
          <P
            >Separated they live in Bookmarksgrove right at the coast of the
            Semantics</P
          >
        </div>
      </div>
    </div>

    <div class="count mt-5 text-center">
      <div class="row py-5 overlay">
        <div class="col-md-3">
          <h2>309</h2>
          <p>Cups of coffee</p>
        </div>
        <div class="col-md-3">
          <h2>365</h2>
          <p>Projects</p>
        </div>
        <div class="col-md-3">
          <h2>30</h2>
          <p>Clients</p>
        </div>
        <div class="col-md-3">
          <h2>10</h2>
          <p>Partners</p>
        </div>
      </div>
    </div>
  </div>
</div>
