#blog h6 {
  color: #999999;
  letter-spacing: 10px;
  padding: 0;
  margin: 0;
}

#blog h2 {
  font-family: "Playfair Display", serif;
  padding: 0;
  margin: 0;
}

#blog p {
  font-family: "Quicksand", sans-serif;
  color: #999999;
  padding: 0;
  margin: 0;
}

#blog p span {
  color: #000;
  font-weight: bold;
}

#blog p.date {
  font-size: 12px !important;
}

#blog .col-lg-4:first-of-type {
  padding-left: 0;
}
#blog .col-lg-4.last {
  padding-right: 0;
}

#blog .col-lg-4 .blog-card {
  font-size: 30px;
  overflow: hidden;
}
#blog .col-lg-4 .blog-card:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

#blog .col-lg-4 .blog-card p {
  font-weight: 500;
  margin: 20px 0;
  font-size: 16px;
}
