<div id="blog" class="container py-5">
  <div class="row">
    <h6 class="text-uppercase">Read</h6>

    <h2 class="mb-5 mt-4 text-uppercase">Recent Blog</h2>

    <div class="row">
      <div class="col-lg-4 my-5">
        <div class="position-relative blog-card">
          <div class="overflow-hidden">
            <img src="assets/images/blog-1.jpg" alt="" class="w-100" />
          </div>

          <p class="date">April 14, 2018 | Web Design | 4</p>
          <P class="mt-3 text-dark fw-bold text-uppercase">Innovative Ideas</P>
          <P
            >Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large language ocean.</P
          >
        </div>
      </div>
      <div class="col-lg-4 my-5">
        <div class="position-relative blog-card">
          <div class="overflow-hidden">
            <img src="assets/images/blog-2.jpg" alt="" class="w-100" />
          </div>

          <p class="date">April 14, 2018 | Web Design | 4</p>
          <P class="mt-3 text-dark fw-bold text-uppercase"
            >Wordpress for a Beginner</P
          >
          <P
            >Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large language ocean.</P
          >
        </div>
      </div>
      <div class="col-lg-4 my-5">
        <div class="position-relative blog-card">
          <div class="overflow-hidden">
            <img src="assets/images/blog-3.jpg" alt="" class="w-100" />
          </div>

          <p class="date">April 14, 2018 | Web Design | 4</p>
          <P class="mt-3 text-dark fw-bold text-uppercase"
            >Make website from scratch</P
          >
          <P
            >Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large language ocean.</P
          >
        </div>
      </div>
    </div>

    <button class="btn btn-primary text-uppercase">
      load more <i class="fa-solid fa-rotate-right"></i>
    </button>
  </div>
</div>
